# Subsetting

#### Quiz
1. vector に対して positive integer, negative integer, logical vector, character vector で subsetting した結果
1. `[` と `[[` と `$` の違い（list）
1. `drop = FALSE`　はいつ使うか
1. matrix x に対して，`x[] <- 0` と `x <- 0` の違い
1. categorical vector を relabel するときの，named vector の使い方

## Data types

### Atomic vectors

In [1]:
x <- c(2.1, 4.2, 3.3, 5.4)

* 正の整数

In [2]:
x[c(3,1)]

[1] 3.3 2.1

In [3]:
x[order(x)]

[1] 2.1 3.3 4.2 5.4

In [4]:
x[c(1,1)]

[1] 2.1 2.1

In [5]:
x[c(2.1, 2.9)]

[1] 4.2 4.2

* 負の整数

In [6]:
x[-c(3,1)]

[1] 4.2 5.4

In [7]:
x[c(-1, 2)]

ERROR: Error in x[c(-1, 2)]: only 0's may be mixed with negative subscripts

* 論理ベクトル

In [8]:
x[c(T, T, F, F)]

[1] 2.1 4.2

In [9]:
x[x > 3]

[1] 4.2 3.3 5.4

In [10]:
x[c(T, F)]

[1] 2.1 3.3

In [11]:
x[c(T, F, T, F)]

[1] 2.1 3.3

In [12]:
x[c(T, T, NA, F)]

[1] 2.1 4.2  NA

* 空

In [13]:
x[]

[1] 2.1 4.2 3.3 5.4

* ゼロ

In [16]:
print(x[0])

numeric(0)

* 文字列ベクトル

In [18]:
(y <- setNames(x, letters[1:4]))

  a   b   c   d
2.1 4.2 3.3 5.4

In [19]:
y[c("d", "c", "a")]

  d   c   a
5.4 3.3 2.1

In [20]:
y[c("a", "a", "a")]

  a   a   a
2.1 2.1 2.1

In [21]:
z <- c(abc = 1, def = 2)
z[c("a", "d")]

<NA> <NA>
  NA   NA

### List

* 基本的に stomic vector と同じ
* `[`: list
* `[[`, `$`: list の構成要素を返す

### Matrices and arrays

* Multiple vector

In [22]:
a <- matrix(1:9, nrow = 3)
colnames(a) <- c("A", "B", "C")
a[1:2, ]

     A B C
[1,] 1 4 7
[2,] 2 5 8

In [23]:
a[c(T,F,T), c("B", "A")]

     B A
[1,] 4 1
[2,] 6 3

In [24]:
a[0, -2]

     A C

* Single vector

In [26]:
(vals <- outer(1:5, 1:5, FUN = "paste", sep = ","))

     [,1]  [,2]  [,3]  [,4]  [,5]
[1,] "1,1" "1,2" "1,3" "1,4" "1,5"
[2,] "2,1" "2,2" "2,3" "2,4" "2,5"
[3,] "3,1" "3,2" "3,3" "3,4" "3,5"
[4,] "4,1" "4,2" "4,3" "4,4" "4,5"
[5,] "5,1" "5,2" "5,3" "5,4" "5,5"

In [27]:
vals[c(4, 15)]

[1] "4,1" "5,3"

* Matrix

In [29]:
vals <- outer(1:5, 1:5, FUN = "paste", sep = ",")
select <- matrix(ncol = 2, byrow = TRUE, c(
    1, 1,
    3, 1,
    2, 4
))
vals[select]

[1] "1,1" "3,1" "2,4"

### Data frames

* single vector: list
* two vector: matrices

In [31]:
df <- data.frame(x = 1:3, y = 3:1, z = letters[1:3])

df[df$x == 2,]

  x y z
2 2 2 b

In [32]:
df[c(1,3),]

  x y z
1 1 3 a
3 3 1 c

In [33]:
df[c("x", "z")]

  x z
1 1 a
2 2 b
3 3 c

In [34]:
df[, c("x", "z")]

  x z
1 1 a
2 2 b
3 3 c

In [35]:
str(df["x"])

'data.frame':	3 obs. of  1 variable:
 $ x: int  1 2 3

In [36]:
str(df[, "x"])

 int [1:3] 1 2 3

### S3 objects

* atomic vector, array, list

### S4 objects

* additional subsetting operator:  `@`, `slot()`

### Excercises

## Subsetting operators

## Subsetting and assignment

## Applications